@using DailyPlanning.Models.PagingModel
@model Pager
<div>

    @if (Model.CurrentPage == Model.EndPage)
    {
        <p> @(Model.TotalItems+1-(Model.TotalItems-Model.PageSize*(Model.TotalPages - 1))) - @Model.TotalItems of @Model.TotalItems </p>
    }
    @if (Model.CurrentPage == Model.StartPage)
    {
        <p> @(Model.StartPage) - @(Model.CurrentPage * Model.PageSize) of @Model.TotalItems </p>
    }
    @if (Model.CurrentPage != Model.StartPage && Model.CurrentPage != Model.EndPage)
    {
        <p> @(Model.CurrentPage * Model.PageSize - (Model.PageSize-1)) - @(Model.CurrentPage * Model.PageSize) of @Model.TotalItems </p>
    }

    @if (Model.EndPage > 1)
    {
        <ul class="pagination">
            <li id="first-page-id">
                @Html.ActionLink("First", Model.Action, Model.Controller, new { page = 1 }, null)
            </li>
            <li id="previous-page-id">
                @Html.ActionLink("<<", Model.Action, Model.Controller, new { page = Model.CurrentPage - 1 }, null)
            </li>

            @for (var page = Model.StartPage; page <= Model.EndPage; page++)
            {
                <li class="@(page == Model.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), Model.Action, Model.Controller, new { page = page }, null)
                </li>
            }
            <li id="next-page-id">
                @Html.ActionLink(">>", Model.Action, Model.Controller, new { page = (Model.CurrentPage + 1) }, null)
            </li>
            <li id="last-page-id">
                @Html.ActionLink("Last", Model.Action, Model.Controller, new { page = (Model.TotalPages) }, null)
            </li>

        </ul>
    }
</div>
