@using DailyPlanning.Models.DailyPlansViewModel
@model IEnumerable<DailyPlanViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create" )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Today)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ListBoxFor(items => item.DayBefore, new MultiSelectList(item.DayBefore,"Title"))
        </td>
        <td>
            @foreach (var workItem in item.Today)
            {

            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
       

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DailyPlanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DailyPlanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DailyPlanID })
        </td>
    </tr>
}

</table>
