@model DailyPlanning.Models.DailyPlansViewModel.AddDailyPlanViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

@{
    ViewBag.Title = "Add DailyPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddDailyPlan</h2>

@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DailyPlan</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Date, null, new { @class = "text-danger" })
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.DayBefore, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedWorkItemsDayBefore, new MultiSelectList(Model.DayBefore, "WorkItemId", "Title"), new { @class = "daily-plan-day-before-listbox-class", @id= "daily-plan-day-before-listbox-id" })
                @Html.ValidationMessageFor(model => model.SelectedWorkItemsDayBefore, null, new { @class = "text-danger", @id = "select-daily-plan-day-before-text-error-id"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Today, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownListFor(model => model.Today, new MultiSelectList(Model.Today, "WorkItemId", "Title"), string.Empty, new { @class = "chzn-select", @id = "List1" })
                <br />
                <br />

                <div>
                    @Html.ListBoxFor(model => model.SelectedWorkItemsToday, new List<SelectListItem>(), new { @class = "select-daily-plan-today-listbox-class", @id = "List2" })

                </div>
            </div>
        </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control add-note-text-class" })
                        @Html.ValidationMessageFor(model => model.Note, null, new { @class = "text-danger", @id = "add-note-text-error-id" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" id="create-daily-plan-link-id" />
                    </div>
                </div>
            </div>

}

<div>
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })
</div>
<script type="text/javascript">
    
    $('select.daily-plan-day-before-listbox-class').select2({
        tags: true,
        placeholder: "Please select or create a Work Item"
    });
    
</script>

<script>
    $(function () {
        $(".chzn-select").chosen();
    });
    $("#List1").on('change', function () {
        $('#List1 option:selected').appendTo('#List2');
        $('#List1').trigger("chosen:updated");
       
       
    })
    

    $("#List2").on('click',function () {
        $('#List2 option:selected').appendTo('#List1');
        $("#List1").chosen("refresh");
       
    })
</script>

