@using DailyPlanning.Models.DailyPlansViewModel
@model UpdateDailyPlanViewModel
@{
    ViewBag.Title = "Edit DailyPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DailyPlan</h4>
        <hr />
        <div class="form-group">
            @Html.HiddenFor(model => model.DailyPlanID, new { @class = "form-control" })
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } });
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DayBefore, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedWorkItemsDayBefore, new MultiSelectList(Model.DayBefore, "WorkItemId", "Title"), new {  @id = "select-daily-plan-day-before-listbox-id" })
                @Html.ValidationMessageFor(model => model.SelectedWorkItemsDayBefore, null, new { @class = "text-danger", @id = "select-daily-plan-day-before-text-error-id" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Today, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedWorkItemsToday, new MultiSelectList(Model.Today, "WorkItemId", "Title"), new { @id = "select-daily-plan-today-listbox-id" })
                @Html.ValidationMessageFor(model => model.SelectedWorkItemsToday, null, new { @class = "text-danger", @id = "select-daily-plan-today-text-error-id" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", @id = "add-note-text-id" })
                @Html.ValidationMessageFor(model => model.Note, null, new { @class = "text-danger", @id = "add-note-text-error-id" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" id="save-daily-plan-edit-button-id" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-default" })
</div>
