@using DailyPlanning.Models.DailyPlansViewModel
@model IEnumerable<DailyPlanViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Daily Plans</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Today)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <ul>
                    @foreach (var workItem in item.Today)
                    {
                        <li>@Html.ActionLink(workItem.Title, "Details" , "WorkItem" , new { id = workItem.WorkItemID }, null)</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var workItem in item.DayBefore)
                    {
                        <li>@Html.ActionLink(workItem.Title, "Details", new { id = workItem.WorkItemID })</li>
                    }
                </ul>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DailyPlanID })
            </td>
        </tr>
    }

    

</table>

<p>

    @Html.ActionLink("Add Daily Plan", "AddDailyPlan","", new { @class = "btn btn-default" })
</p>
