@using DailyPlanning.Models.DailyPlansViewModel
@model IEnumerable<DailyPlanViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Daily Plans</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Today)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayBefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <ul>
                    @foreach (var workItem in item.Today)
                    {
                        <li>@Html.ActionLink(workItem.Title, "Details", "WorkItem", new { id = workItem.WorkItemID }, null)</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var workItem in item.DayBefore)
                    {
                        <li>@Html.ActionLink(workItem.Title, "Details", "WorkItem", new { id = workItem.WorkItemID }, null)</li>
                    }
                </ul>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>


            <td>
                @if (item.Date.Date == DateTime.Now.Date)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.DailyPlanID }, new { @class = "btn btn=default", @id = "edit" })

                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.DailyPlanID}, new {@class = "btn btn=default", @id = "details"})
            </td>
        </tr>
    }



</table>

<p id="button">
        @Html.ActionLink("Add Daily Plan", "AddDailyPlan", null, new {@id = "add", @class = "btn btn-default" })
</p>
@section Scripts{
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script type="text/javascript">
            if ($('#edit').length > 0) {
                $('#add').attr('disabled', 'disabled');
                $('#add').attr('href', '#');
            }
            

    </script>
}
