@model DailyPlanning.Models.WorkItemsViewModel.WorkItemDetailsViewModel

@{
    ViewBag.Title = "WorkItem Details";
}

<h2>Details</h2>
<p>
    @if (Model.WorkItem.IsDeleted)
    {
        <font color="red">
            <h3>Removed</h3>
        </font>
    }
</p>


<div>
    <hr />
        <dl class="dl-horizontal">

            <div style="background-color:#e6e6e6">
                <dt>
                    @Html.DisplayNameFor(model => model.WorkItem.WorkItemID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WorkItem.WorkItemID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WorkItem.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WorkItem.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WorkItem.Description)
                </dt>

                <dd>
                    @Html.Raw(Model.WorkItem.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WorkItem.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WorkItem.Status)
                </dd>
                </div>

</dl>
    @if (Model.Project != null)
    {
        <h4>Project</h4>
        <div>
            <table class="table">
                <thead>
                <th>@Html.DisplayNameFor(model => model.Project.ProjectID)</th>
                <th>@Html.DisplayNameFor(model => model.Project.Title)</th>
                </thead>

                <tr>
                    <td>@Html.DisplayFor(model => model.Project.ProjectID)</td>
                    <td>@Html.ActionLink(Model.Project.Title, "Details", "Project", new { id = Model.Project.ProjectID }, new { @class = "details-project-link-id" })</td>
                </tr>
            </table>
        </div>
    }
</div>

<p>
 
    @if (Model.WorkItem.IsEnabled)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.WorkItem.WorkItemID }, new { @class = "btn btn-default", @id = "details-edit-link-id" })
    }
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default", @id = "details-back-to-list-link-id" })


</p>
